.store {
    width: 83%;
    margin: auto;
}

.store h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.grid img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    width: 100%;
    aspect-ratio: 4 / 4;
}

.card-content {
    background-color: var(--gris);
    border-radius: 0.375rem;
    transition: 0.5s;
}

.card-content:hover {
    transform:translateY(-2px);
    box-shadow: 0px 6px 8px var(--black);
}

.card-content h3 {
    margin: 1rem 0;
    text-align: center;
}

.card-content p {
    text-align: center;
    margin-bottom: 1rem
}

.buy {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    background: var(--blue);
    border-radius: 5px;
    transition: 0.5s;
}

.buy:hover {
    box-shadow: 0 0 15px var(--blue);
    background: var(--white);
    color: var(--blue);
}

.description {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    background: var(--blue);
    border-radius: 5px;
    transition: 0.5s;
}

.description:hover {
    box-shadow: 0 0 15px var(--blue);
    background: var(--white);
    color: var(--blue);
}